/* -----set-ups----- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Serif+Pro:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

h5 {
  font-size: 20px;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  color: orange;
  letter-spacing: 1.5px;
}

h6 {
  color: orange;
  margin-bottom: 2px;
}

p {
  font-size: 16px;
  color: #6b6a6a;
}

/* -----enter page effect----- */
#fade {
  opacity: 0.3;
}

/* -----page finder----- */
.pages .btn {
  margin-bottom: 1rem;
}

.links a {
  color: black;
}

.links a:hover {
  font-weight: bold;
  text-decoration: none;
}

.fall {
  margin: 30px;
  padding: 30px;
  background-color: #ffd68a;
  border-radius: 3px;
  opacity: 1;
  text-align: center;
}

.fall:hover {
  background-color: #fac562;
}

/* -----button----- */
.my-btn {
  background-color: rgba(252, 176, 35, 0.8);
  color: white;
  padding: .7em 2em;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.btn-back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #ffab10;
  border-radius: 3px;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  /* transform-origin: left; */
}

.btn-back:hover::before,
.btn-back:focus::before {
  transform: scaleX(1);
}

.btn-back {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.btn-back:hover,
.btn-back:focus {
  color: #7c7c7c;
}

/* -----header----- */
.navbar {
  position: fixed;
  transition: 0.4s;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(243, 243, 243, 0.986);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.navbar-brand {
  padding-left: 1rem;
  transition: 0.4s;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
}

.navbar-nav {
  margin-right: 1.5rem;
}

.nav-item {
  margin: 0;
  padding: 0 0.4em;
  font-size: 1rem;
}

.active {
  text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.1rem 0.6rem;
}

.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(255, 153, 0, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
  transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

@keyframes bounce-animation {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

/* -----footer----- */
footer {
  width: 100%;
}

footer .row {
  border: 1px solid #fce2c1;
  background-color: rgba(250, 235, 215, 0.7);
  border-radius: 3px;
  padding: 1.2rem 0 3px 3rem;
  margin-bottom: 5px;
}

footer h4 {
  font-weight: bold;
}

footer h6 {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #6b6a6a;
}

footer ul {
  padding-left: 19px;
  list-style-type: circle;
  line-height: 24px;
  font-size: 15px;
  color: orange;
}

footer span {
  font-size: 14.5px;
}

footer a {
  color: orange;
}

footer a:hover {
  color: orange;
}

footer p {
  margin-bottom: 4px;
  line-height: 24px;
}

@media screen and (max-width: 390px) {
  .pages-links {
    display: none;
  }
  footer .row {
    padding: 1rem;
  }
}

/* index-top */
.index-top {
  background: url(/photos/orange-back.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 6.2rem;
  padding: 6.5% 20% 10% 20%;
}

.back {
  /* top layer */
  margin: 6% auto;
  box-shadow: 0px 0px 20px #00000034;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.hero {
  padding: 8vmin 1rem;
}

.hero h1 {
  font-size: 350%;
  margin: 0 0.8rem;
  background-image: url(/photos/index-title-back.jpeg);
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero p {
  padding: 2vmin 10vmin;
}

/* -----index-1----- */
.index-1 {
  margin: 4rem 2rem 3rem 1rem;
}

.index-1 .pic {
  width: 150px;
  height: 600px;
  max-width: 400px;
  margin: 0;
}

.index-1 .panel {
  background: white;
  border-radius: 3px;
  padding: 12vmin 12vmin 11vmin 11vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}

.index-1 .panel h1 {
  margin-bottom: 2.5rem;
}

.index-1 .panel p {
  margin-bottom: 3rem;
}

@media screen and (max-width: 400px) {
  .index-top {
    padding: 1rem;
  }
  .index-1 .panel h1 {
    font-size: 30px;
    margin-bottom: 1.5rem;
  }
  .hero {
    padding: 1rem 1rem 2rem 1rem;
  }
  .hero h1 {
    font-size: 250%;
  }
  .hero p {
    margin-bottom: 1rem;
  }
  .index-1 {
    margin: 2rem 1rem;
  }
  .index-1 .pic {
    display: none;
  }
  .index-1 .panel {
    padding: 2rem 1.5rem .5rem 1.5rem;
  }
}

/* -----about-top----- */
.about-top {
  background: url(/photos/orange-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 100px;
  padding: 5rem 0;
}

.about-top h1 {
  margin-bottom: 1.5rem;
}

.about-top .container {
  max-width: 800px;
  padding: 2rem;
  box-shadow: 0px 0px 20px #0000003b;
  background-color: rgba(243, 243, 243, 0.8);
  border-radius: 6px;
}

.about-top .row {
  justify-content: center;
  margin-bottom: 2rem;
}

.about-top .row p {
  text-align: justify;
}

.about-top .show-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-top img {
  width: 180px;
  height: fit-content;
}

/* -----reena----- */
.reena {
  margin: 4rem 1rem 2rem 1rem;
  position: relative;
}

.reena .container {
  width: 110%;
  box-shadow: 0px 0px 7px #0000006e;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem 2.8rem 2rem 2.8rem;
}

.reena .pic {
  position: absolute;
  width: 100%;
  max-width: 450px;
  left: -50px;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.reena h1 {
  font-size: 32px;
  margin-bottom: 0.8rem;
}

.reena h5 {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.reena p {
  text-align: justify;
}

/* -----about------ */
.about {
  background-color: #f4edea;
  padding: 1rem 0;
}

#pic-chart {
  width: 80%;
}

/* -----about-1----- */
.about-1 {
  margin: 3rem 5rem;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.about-1 p {
  line-height: 1.8rem;
  margin-bottom: 0;
}

/* -----about-2----- */
.about-2 {
  margin: 3rem 0rem 2rem 0rem;
}

.about-2 h1 {
  margin: 0 1rem;
}

.about-2 p {
  font-size: 18px;
  color: #272727;
  margin-bottom: 0;
}

.shape1 {
  background: rgba(255, 186, 58, 0.9);
  width: 17rem;
  padding: 2.5rem;
  margin: 1rem 0.8rem;
  border-radius: 2px;
  box-shadow: 1px 0px 10px 0px rgba(180, 180, 180, 0.959);
  line-height: 1.8rem;
}

.shape2 {
  background: rgba(180, 180, 180, 0.8);
  width: 17rem;
  padding: 2.5rem;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 2px 0px 10px 0px rgba(221, 123, 11, 0.479);
  line-height: 1.8rem;
}

@media screen and (max-width: 400px) {
  .about-top {
    padding: 2rem 1rem;
    background-size: contain;
  }
  .about-top h1 {
    font-size: 35px;
  }
  .about h1,
  .about-1 h1,
  .about-2 h1 {
    font-size: 30px;
  }
  .about-top img {
    width: 100px;
    margin-bottom: 2rem;
  }
  .reena {
    margin: 1rem;
  }
  .reena .pic {
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
  }
  .reena .container {
    width: 100%;
    box-shadow: none;
    padding: 1rem;
  }
  #pic-chart {
    width: 95%;
  }
  .about-1 {
    margin: 1rem;
    padding: 1.5rem;
  }
  .about-1 p {
    text-align: justify;
  }
  .about-2 p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .shape1,
  .shape2 {
    padding: 1rem 1.5rem;
  }
}

/* -----values-top----- */
.values-top {
  background: url(/photos/orange-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 100px;
  padding: 5rem 0;
}

.values-top .container {
  padding: 3.5rem 0;
  box-shadow: 0px 0px 20px #00000073;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

/* -----values-1----- */
.values-1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem 2rem;
}

.values-1 .container {
  padding: 3rem 1rem;
  box-shadow: 0px 0px 20px #00000073;
  background-color: rgba(243, 243, 243, 0.85);
  border-radius: 5px;
}

.values-1 h1 {
  margin-bottom: 1.2rem;
}

#val-2-vis {
  margin-top: 2rem;
}

.values-1 h5 {
  color: #6b6a6a;
}

#icon {
  margin-top: 1.5rem;
}

/* -----values-2----- */
.values-2 {
  position: relative;
  margin: 1rem 0 2rem 0;
}

.values-2:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/photos/values-main-2.jpeg) no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 3px;
  opacity: 0.8;
  z-index: -1;
}

.head-3 {
  background: #ffa600;
  padding: 2.4rem 2rem 2rem 2rem;
  border-radius: 3px;
  margin: 3rem 0rem 500px 0rem;
}

.values-2 .container {
  box-shadow: 0px 0px 15px #00000042;
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 4px;
  margin: 3rem 0;
  padding: 2rem 2.2rem 2rem 2.4rem;
}

.values-2 .container:hover {
  box-shadow: 0px 0px 15px #0000009f;
}

.values-2 h5 {
  margin-top: 1.8rem;
}

.values-2 ul {
  margin-left: 0;
  padding-left: 20px;
  line-height: 1.8em;
  list-style-type: circle;
  font-size: 15px;
  color: #6b6a6a;
}

@media screen and (max-width: 400px) {
  .values-top {
    padding: 2rem 1rem;
    background-size: contain;
  }
  .values-top h1 {
    font-size: 35px;
  }
  .values-top .container {
    padding: 1rem;
  }
  .values-1 h1 {
    font-size: 25px;
  }
  .values-1 h5 {
    font-size: 18px;
  }
  .values-1 {
    margin: .25rem 1rem;
    padding: 1rem;
  }
  .values-1 .container {
    margin: 1rem;
    padding: 1rem;
  }
  .values-2:before {
    display: none;
  }
  .head-3 {
    margin: 0rem;
    padding: 2rem 3rem 2rem 2rem;
  }
  .head-3 h1 {
    font-size: 30px;
  }
  .values-2 .container {
    margin: 0rem;
    padding: 1rem 2.5rem;
    box-shadow: none;
  }
}

/* -----events-top----- */
.events-top {
  margin-top: 160px;
  margin-bottom: 2rem;
}

.event-title {
  box-shadow: 0px 0px 20px #0000003b;
  background-color: #f4edea;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  padding: 2rem;
}

.vid1 {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  height: 400px;
}

/* -----events-1----- */
.events-1 {
  margin: 2rem 20rem;
}

.events-1 .notice {
  border: 1px solid orange;
}

.event-title-1 {
  background-color: #ffd68a;
  border-radius: 2px;
  text-align: center;
  padding: 0.8rem 0;
}

.events-1 h5 {
  color: black;
}

.events-1 img {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .events-top {
    margin-top: 110px;
    display: flex;
    justify-content: center;
  }
  .event-title {
    margin: 2rem;
    margin-bottom: 1rem;
  }
  .vid1 {
    height: 200px;
  }
  .events-1 {
    margin: 2rem;
  }
}

/* -----career-top----- */
.career-top {
  background: url(/photos/orange-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 100px;
  padding: 5rem 0;
}

.career-top .container {
  padding: 3rem 0 3rem 0;
  box-shadow: 0px 0px 20px #00000073;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.career-top p {
  margin-bottom: 2rem;
}

/* -----career-1----- */
.career-1 {
  margin: 4rem 2rem 2rem 2rem;
  position: relative;
}

.career-1 .container {
  width: 110%;
  box-shadow: 0px 0px 15px #00000071;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 2rem 6.2rem 2rem 2.8rem;
}

.career-1 .pic {
  position: absolute;
  top: 55px;
  left: -70px;
  width: 115%;
  max-width: 450px;
  z-index: -1;
  margin-bottom: 2rem;
}

.career-1 h1 {
  font-size: 32px;
  margin-bottom: 0.8rem;
}

.career-1 h5 {
  margin-top: 0.5rem;
}

.career-1 ul {
  padding-left: 20px;
  list-style-type: circle;
  font-size: 15px;
  color: #6b6a6a;
}

@media screen and (max-width: 400px) {
  .career-top {
    padding: 2rem 1rem;
    background-size: contain;
  }
  .career-top h1 {
    font-size: 35px;
  }
  .career-1 {
    margin: 1rem;
  }
  .career-1 h1 {
    font-size: 30px;
  }
  .career-1 .container {
    width: 100%;
    padding: .5rem;
    box-shadow: none;
  }
  .career-1 .pic {
    display: none;
  }
}

/* -----contact-top----- */
.contact-top {
  background: url(/photos/orange-back.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 100px;
  padding: 5rem 0;
}

.contact-top .container {
  margin: 0 auto 2rem auto;
  padding: 60px 35px;
  box-shadow: 0px 0px 20px #0000003b;
  border-radius: 6px;
  background-color: rgba(243, 243, 243, 0.8);
}

.contact-top h1 {
  margin-bottom: 3rem;
}

/* -----contact-form----- */
.contact-form .cover {
  border-radius: 2px;
  background: linear-gradient(-45deg, #ffc404, #f7b47d, #ff8c18, #ffc981);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  overflow: hidden;
  margin: 2rem 1rem;
  /* padding-top: 3rem; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact-form h6 {
  color: #272727;
}

.contact-form .content {
  padding-top: 1.5rem;
}

.contact-form .content h1 {
  margin-bottom: 1.5rem;
}

.contact-form .container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 20px #00000020;
  background-color: rgba(243, 243, 243, 0.904);
  border-radius: 4px;
  margin-bottom: 20px;
}

.contact-form .container p {
  text-align: center;
}

.form-group {
  width: 100%;
  margin-top: 10px;
}

.form-group label {
  margin: 0;
}

.form-group input,
.form-group textarea {
  outline: none;
  width: 100%;
  padding: 3px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 0;
  background: none;
}

.form-group textarea {
  border: 1px solid rgba(128, 128, 128, 0.199);
  border-radius: 2px;
  resize: vertical;
  height: 200px;
}

form button[type="submit"] {
  outline: none;
  width: 20%;
  border: none;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top: 3px;
  margin-right: 0;
  margin-left: auto;
  transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
  background-color: #f7e8c7;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

#status.success {
  background-color: #d3fa99;
  animation: status 4s ease forwards;
}

#status.error {
  background-color: #fa815c;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (max-width: 400px) {
  .contact-top {
    padding: 2rem 1rem;
    background-size: contain;
  }
  .contact-top .container {
    margin: auto;
  }
  .contact-form .cover {
    margin: 1rem;
  }
  .contact-top h1 {
    font-size: 35px;
  }
  .contact-form .content h1 {
    font-size: 30px;
  }
  .contact-form .container {
    width: 90%;
    padding: 2rem;
  }
  form button[type="submit"] {
    width: 30%;
    padding: .5rem 1rem;
  }
}
/*# sourceMappingURL=style.css.map */