/* -----footer----- */
footer {
  width: 100%;
//   background: url(/photos/footer-back.png);
//   background-position: center;
//   background-size: cover;
//   background-attachment: fixed;
}

footer .row {
  border: 1px solid rgb(252, 226, 193);
  background-color: rgba(250, 235, 215, 0.7);
  border-radius: 3px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 5px;
}

footer h4 {
  font-weight: bold;
}

footer h6 {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: rgb(107, 106, 106);
}

footer ul {
  padding-left: 19px;
  list-style-type: circle;
  line-height: 24px;
  font-size: 15px;
  color: orange;
}

footer span {
  font-size: 14.5px;
}

footer a {
  color: orange;
}

footer a:hover {
  color: orange;
}

footer p {
  margin-bottom: 4px;
  line-height: 24px;
}

footer .small-links .row {
    border: none;
    background-color: rgba(250, 235, 215, 0);
    padding: 0;
    margin: 0;
}

footer .col-5, footer .col {
    padding: 0;
}

@media screen and (max-width: 390px) {
    .pages-links {
        display: none !important;
    }
    footer .row {
        padding: 1rem;
        
    }
    footer h4 {
        font-size: 20px;
    }
    footer p {
        font-size: 14px;
    }
    footer .col-5, footer .col {
        padding: 4px 8px;
    }
}
