@media screen and (max-width: 1024px) {
	body {
		padding-bottom: 400px;
		overflow-x: hidden;
	}
	.index-top {
		background-attachment: scroll;
	}
	.hero {
		padding: 4vmin 0;
	}
	.index-1 .pic {
		width: 80%;
	}
	.about-top,
	.values-top {
		background-attachment: scroll;
	}
  .reena {
		margin: 2rem;
    margin-right: 3.5rem;
	}
  .reena .container {
    border: 0;
    box-shadow: none;
    padding: 0;
    padding-top: 15rem;
    background: none;
	}
  .reena .pic {
    border-radius: 4px;
    left: -28px; // or -5px
  }
  .reena h5 {
		margin-top: 0.4rem;
	}
	.about-2 {
		margin-bottom: 1rem;
	}
	.shape1,
	.shape2 {
		width: 15rem;
	}
	.values-top {
		padding: 6% 0 4% 0;
	}
	.values-top .container {
		padding: 4rem 0 9rem 0;
	}
	#text {
		padding-top: 15rem;
		font-size: 40px;
	}
	.values-2 .container {
		padding: 2rem 1rem;
	}
	.career-top {
		background: url(/photos/career-top-iPad.jpeg);
		background-size: cover;
		position: top;
		padding: 22% 35%;
	}
	.career-1 {
		margin: 2rem;
	}
	.career-1 .container {
		width: 120%;
		padding: 2rem 5rem 1.3rem 2.2rem;
	}
	.career-1 .pic {
		top: 70px;
		left: 1px;
		width: 110%;
	}
	.career-1 h5 {
		margin-top: 0.4rem;
	}
	.career-1 ul {
		padding-left: 20px;
		line-height: 22px;
		list-style-type: circle;
		font-size: 17px;
		color: rgb(107, 106, 106);
	}
	.index-1 .panel {
		border: 1px solid orange;
		background: white;
		border-radius: 3px;
		padding: 8vmin 5vmin 9vmin 6vmin;
		box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
	}
	.shape1 {
		padding: 1.5rem;
		padding-bottom: 1rem;
	}
	.shape2 {
		padding: 1.5rem;
		padding-bottom: 1rem;
	}
	footer .row {
		background-color: antiquewhite;
		padding: 2rem 0 1rem 1rem;
	}
}

@media screen and (max-width: 884px) {
	body {
		padding-bottom: 700px;
		overflow-x: hidden;
	}
	.index-top {
		margin-top: 1rem;
		padding: 8px 16px;
	}
	h1 {
		font-size: 30px;
	}
	.navbar-nav {
		margin-right: 0;
	}
	.back {
		margin: 130px 1rem 25px 1rem;
	}
	.hero {
		padding: 8vmin 0 10vmin 0;
	}
	.hero h1 {
		font-size: 250%;
		padding: 0 1.5rem;
	}
	.hero p {
		padding: 2vmin 6vmin 1vmin 6vmin;
	}
	.index-1 {
		margin: 2rem 0 4rem 0;
	}
	/* .index-1 .line-1 {
    width: 1000px;
    border-bottom: 260px solid rgba(245, 245, 245, 0.5);
    -webkit-transform:
        translateY(20px)
        translateX(5px)
        rotate(-38deg);
    position: absolute;
    top: 850px;
    left: -200px;
  } */
	.index-1 .pic {
		max-width: 200px;
		max-height: 300px;
		margin-bottom: 1rem;
		border-radius: 1px;
	}
	.index-1 .panel {
		margin: 0.7rem 1rem 0 1rem;
		border-radius: 2px;
		padding: 2rem 1.5rem 0.5rem 1.5rem;
		background: rgba(255, 255, 255, 0.95);
	}
	.index-1 .panel h1 {
		margin-bottom: 1.5rem;
	}
	.index-1 .panel p {
		margin-bottom: 2rem;
	}
	.about-top {
		margin-top: 6rem;
		padding: 2.5rem 1.5rem 0.5rem 1.5rem;
	}
	.about-top img {
		margin-top: 8%;
	}
	.about-1 {
		margin: 2rem 1rem 1rem 1rem;
		padding: 2rem 1rem;
	}
	.about-1 p {
		line-height: 1.5rem;
	}
	.about-2 {
		margin-top: 1.2rem;
	}
	.values-top {
		padding: 4% 0 2% 0;
	}
	.values-top {
		background: url(/photos/values-phone-top.jpeg);
		background-size: cover;
		background-attachment: scroll;
		margin-top: 2rem;
		padding: 3rem 0 0.6rem 0;
	}
	.values-top .container {
		padding: 2rem 0 3rem 0;
	}
	#text {
		padding-top: 11rem;
		font-size: 40px;
	}
	.values-2 {
		padding: 1.8rem;
	}
	.values-2 .container {
		padding: 1.5rem 0.7rem;
		margin: 8px;
	}
	.values-2 h5 {
		font-size: 15px;
	}
	.values-2 h1 {
		text-align: center;
	}
	.head-3 {
		padding: 2rem;
		margin: 1rem 0rem 10px 0rem;
	}
  .values-2 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
	.values-2 .container {
		border: 0;
    box-shadow: none;
    padding: 0;
    background: none;
	}
	.values-2 h5 {
		margin-top: 0;
	}
	.values-2 ul {
		line-height: 24px;
	}
  .values-2:before {
    background: none;
  }
	.events-top {
		background-attachment: scroll;
		margin: 5.8rem 0 2rem 0;
		padding: 13% 18%;
	}
	.events-top .container {
		margin: 0 auto 1rem auto;
		padding: 20px;
	}
	.events-1 h5 {
		font-size: 15px;
	}
	.career-top {
		background: url(/photos/career-top.png);
		background-size: cover;
		margin-top: 3rem;
		background-position: 1% 0;
		padding: 30% 10% 15% 10%;
	}
	.career-top .container {
		margin: 0 auto;
		margin-top: 3rem;
	}
	.career-1 {
		margin: 1rem;
		position: relative;
	}
	.career-1 .container {
		width: 100%;
		padding: 1.5rem 1.8rem 1rem 1.8rem;
		margin-bottom: 1.5rem;
	}
	.career-1 .pic {
		left: -999px;
	}
	.career-1 h1 {
		font-size: 28px;
		margin-bottom: 2px;
	}
	.career-1 h5 {
		margin-top: 0.2rem;
	}
	.career-1 ul {
		padding-left: 20px;
		line-height: 23px;
		font-size: 16px;
	}
	.contact-top {
		background-attachment: scroll;
		margin-top: 6rem;
		padding: 35% 10% 25% 10%;
	}
	.contact-top .container {
		padding: 30px 40px;
	}
	// .contact-top .primary-btn {
	//   margin-top: 10px;
	//   padding: 0.5rem 0.7rem;
	// }
	.contact-form .cover {
		margin: 1rem 0 2rem 0;
	}
	.contact-form .container {
		width: 90%;
		max-width: 90%;
		padding: 15px 25px;
	}
	form button[type="submit"] {
		width: 30%;
	}
	footer .row {
		padding: 14px 0 3px 10px;
	}
}
