/* -----career-top----- */

.career-top {
    background: url(/photos/orange-back.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    padding: 5rem 0;
}

.career-top .container {
    padding: 3rem 0 3rem 0;
    box-shadow: 0px 0px 20px #00000073;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.career-top p {
    margin-bottom: 2rem;
}


/* -----career-1----- */

.career-1 {
    margin: 4rem 2rem 2rem 2rem;
    position: relative;
}

.career-1 .container {
    width: 110%;
    box-shadow: 0px 0px 15px #00000071;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 2rem 6.2rem 2rem 2.8rem;
}

.career-1 .pic {
    position: absolute;
    top: 55px;
    left: -70px;
    width: 115%;
    max-width: 450px;
    z-index: -1;
    margin-bottom: 2rem;
}

.career-1 h1 {
    font-size: 32px;
    margin-bottom: 0.8rem;
}

.career-1 h5 {
    margin-top: 0.5rem;
}

.career-1 ul {
    padding-left: 20px;
    list-style-type: circle;
    font-size: 15px;
    color: rgb(107, 106, 106);
}

@media screen and (max-width: 400px) {
    .career-top {
        padding: 2rem 1rem;
        background-size: contain;
    }
    .career-top h1 {
        font-size: 35px;
    }
    .career-1 {
        margin: 1rem;
    }
    .career-1 h1 {
        font-size: 30px;
    }
    .career-1 .container {
        width: 100%;
        padding: .5rem;
        box-shadow: none;
    }
    .career-1 .pic {
        display: none;
    }
}