/* -----events-top----- */

.events-page {
    overflow-x: hidden;
}

.events-top {
    background: url(/photos/orange-back.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 6.2rem;
    padding: 5rem 0;
}

.event-title {
    box-shadow: 0px 0px 20px #0000003b;
    background-color: #f4edea;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    padding: 1rem;
}

.vid1 {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    height: 400px;
}


/* -----events-1----- */

.lodgements {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.events-1 {
    margin: 2rem 20rem;
}

.events-1 .notice {
    border: 1px solid orange;
}

.event-title-1 {
    background-color: rgb(255, 214, 138);
    border-radius: 2px;
    text-align: center;
    padding: 0.8rem 0;
}

.events-1 h5 {
    color: black;
}

.events-1 img {
    width: 100%;
}

@media screen and (max-width: 1180px) {
    .events-1 {
        margin: 2rem 5rem;
    }
    .event-title {
        margin: .75rem 2rem;
    }
}

@media screen and (max-width: 400px) {
    .events-top {
        margin-top: 2rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }
    .event-title {
        margin: 2rem;
        margin-bottom: 1rem;
    }
    .vid1 {
        height: 200px;
    }
    .events-1 {
        margin: 2rem;
    }
    .events-1 h5 {
        font-size: 16px;
    }
}