/* -----events-top----- */

.events-page {
    overflow-x: hidden;
}

.events-top {
    background: url(/public/img/orange-back.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 6.2rem;
    padding: 5rem 0;
}

.events-page p {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 0;
}

.event-title {
    box-shadow: 0px 0px 20px #0000003b;
    background-color: #f4edea;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    padding: 1rem;
}

.vid1 {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    height: 400px;
}

/* -----images----- */

.row-images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-images {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-images img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

// two columns images
@media screen and (max-width: 800px) {
  .column-images {
    flex: 50%;
    max-width: 50%;
  }
}

/* -----events-1----- */

.events-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    padding: 1rem;
}

.lodgements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.lodgements button {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background-color: rgb(255, 180, 40);
    border-radius: 5px;
    transition: .3s;
}

.lodgements .content {
    width: 70%;
    display: none;
    overflow: scroll;
}

.lodgements .content img {
    width: 100%;
}

.collapsible {
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: rgba(255, 171, 16, 0.7);
}

@media screen and (max-width: 1180px) {
  .lodgements .content {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
    .events-top {
        margin-top: 2rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        padding: 3rem 0;
        padding-bottom: 2rem;
    }
    .event-title {
        margin: 2rem;
        margin-bottom: 1rem 0;
    }
    .vid1 {
        height: 200px;
    }
    .events-content {
      padding: .25rem;
      padding-top: 0;
    }
}